<section id="certifications">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Sun Certified Programmer for the Java Platform, SE 5.0</strong>
                    <img width="800" height="600" src="{{ site.baseurl }}static/img/certificates/scjp.png"
                        alt="Responsive image">
                </h3>
                </br>
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Sun Certified Web Component Developer for the Java Platform, EE 5</strong>
                    <img width="800" height="600" src="{{ site.baseurl }}static/img/certificates/scwcd.png"
                        alt="Responsive image">
                </h3>
                </br>
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>AWS Certified Solutions Architect - Associate</strong>
                    <img width="800" height="600" src="{{ site.baseurl }}static/img/certificates/aws.png"
                        alt="Responsive image">
                </h3>
            </div>


        </div>
    </div>
</section>