<section id="certifications">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Sun Certfied JAVA Developer 6</strong>
                    <img width="800" height="600" src="{{ site.baseurl }}static/img/certificates/scjp1.6.jpg"
                        alt="Responsive image">
                </h3>
            </div>


        </div>
    </div>
</section>